html, body {
    margin: 0px;
    height: 100%;
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

ul {
    list-style:  none;
    display: flex;
    gap: 16px;
    color: #E5E7EB;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2936;
}

.logo {
    font-weight: bold;
}

.quote {
    background-color: #E5E7EB;
}

.header {
    background-color: #1F2936;
    display: flex;
    justify-content: space-between;
}

.header, .logo {
    color: #E5E7EB;
}

button {
    max-width: 100px;
    max-height: 50px;
}

.gallery {
    background-color: gray;
    max-height: 100px;
    max-width: 300px;
    display: flex;
    align-items: center;
    padding: 10px;
}